* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F1F3FF, #CBD4FF);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #151A2E;
    transition: all .4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    justify-content: space-between;
    position: relative;
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;  /*Cara agar image di perbesar dan menjaga rasio aspek dari gambar tersebut */
    border-radius: 50%;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF2FF;
    transition: .4s ease;
}

.sidebar-header .sidebar-toggler:hover {
    background-color: #D9E1FD;
}

.sidebar.collapsed .sidebar-toggler {
    transform: translate(-4px, 65px);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: .4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    transition: .4s ease;
    padding: 11px 15px;
    border-radius: 8px;
    white-space: nowrap;
}

.sidebar .nav-item:hover > .nav-link {
    color: #151A2E;
    background-color: #EEF2FF;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity .3s ease;
}

.sidebar.collapsed .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: #151A2E;
}