* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #ff0000;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in-out;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav button {
    padding: 3px;
}