* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculator {
    box-shadow: 8px 8px 4px 5px #000;
    width: 28%;
    border-radius: 5px;
    padding: 25px;
    background-color: #3d3d3d;
    position: absolute;
    top: 40px
}

.calculator input[type="text"] {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 2px #000;
    border: 1px solid #a2a2a2;
    background-color: #a8a7a7;
    font-size: 20px;
    text-align: end;
    padding: 0 12px;
    color: #292929;
    letter-spacing: 3px;
}

.calculator .button {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: repeat(4, 45px);
    justify-content: space-between;
    border-radius: 5px;
    gap: 20px 0;
    margin-top: 18px;
    background-color: #2e2e2e;
    padding: 2px;
}

.button button {
    font-size: 16px;
    color: #2e2e2e;
    padding: 12px 10px;
    border: 1px solid #a2a2a2;
    box-shadow: 0 0 2px #000;
    border-radius: 5px;
}

.button button:hover {
    background-color: #bdbdbd;
    cursor: pointer;
}

.button button:active {
    background-color: #e0e0e0;
}

.calculator .button > button[class$=clear] {
    grid-column: 1/span 4;
    background-color: crimson;
    color: #fff;
    font-size: .8rem;
}

.calculator .button > button[class$=clear]:hover {
    background-color: rgb(194, 17, 52);
}

.calculator .button > button[class$=clear]:active {
    background-color: crimson;
}

.calculator .button > button[class$=operator] {
    background-color: orange;
    color: #fff;
}

.calculator .button > button[class$=operator]:hover {
    background-color: rgb(202, 131, 0);
}

.calculator .button > button[class$=operator]:active {
    background-color: orange;
}