$operator-color : orange;
$number-color: #a2a2a2;
$font-size: 16px;
$bg-color-body: #646464;
$bg-color-calculator: #535353;
$box-shadow: 0 0 4px #000;
$border-radius: 5px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.container {
    @include center;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color-body;
}

.calculator {
    width: 35%;
    background-color: $bg-color-calculator;
    padding: 6px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.calculator > input {
    width: 100%;
    height: 60px;
    background-color: #9c9c9c;
    padding: 0 6px;
    text-align: end;
    font-size: $font-size;
    color: $number-color;
    border-radius: $border-radius;
}

.calculator-btn {
    width: 100%;
    height: 250px;
    padding: 5px;
    background-color: $bg-color-body;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.calculator-btn > button[class|=btn] {
    border-radius: $border-radius;
    border: none;
    box-shadow: $box-shadow;
}

.calculator-btn > button[class$=operator] {
    color: #fff;
    background-color: $operator-color;
    border: none;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.calculator-btn > button:last-of-type {
    grid-column: 1/5;
}